.ContactHeadmr{
    padding-top: 2em;
    font-size: 3.353em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.053em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1.8px;
}
.contactParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5em;
    
}
.ContactHeadmr{
    margin-bottom: 0.5em;
}
.ContactSubHead{
    text-align: center;
    width: 60%;
    font-size: 16px;
    color: gray;
    min-width: 360px;
    text-align: center;
    padding-bottom: 4em;
}
.contcardgrp{
    display: flex;
    flex-direction: row-reverse;
    gap: 4em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.rightcontactform{
    border: 1px solid #D3D3D3;
    padding: 1em;
    border-radius: 10px 
}
.leftsidewritten{
    width: 60%;
}
.headWritten{
    width: 80%;
    font-size: 3.353em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.053em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1.8px;
    padding-bottom: 0.2em;
}
.subheadWritten{
    font-size: 16px;
    width: 80%;
    margin-bottom: 1.5em;
}
.contadressset{
    display: flex;
    gap: 1em;
}
.conaddset1{
    width: 30%;
    line-height: 23px; 
    border: 1px solid #D3D3D3;
    padding: 1em;
    border-radius: 10px ;
    
}
.conaddset2{
    width: 30%;
    line-height: 23px;
    border: 1px solid #D3D3D3;
    padding: 1em;
    border-radius: 10px ;
}
.set1head{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1em;
}
.set2head{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1em;
}
.formsmallhead{
    font-weight: normal;
    font-style: normal;
    color: gray;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5em;
}
.formbighead{
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    position: relative;
    color: #272b41;
    margin-bottom: 0.5em;
}
.contform input{

    position: relative;
    display: block;
    height: 20px;
    width: 80%;
    font-size: 16px;
    color: var(--thm-b-text);
    font-weight: 400;
    padding: 14px 30px;
    letter-spacing: 0.1em;
    background-color: #f4f5f8;
    border: 1px solid var(--thm-border);
    border-radius: 4px;
    transition: all 300ms ease;
    font-family: var(--thm-b-font);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1em;

}
.contform textarea{
    position: relative;
    display: block;
    font-size: 16px;
    color: var(--thm-b-text);
    font-weight: 400;
    padding: 14px 30px;
    letter-spacing: 0.1em;
    background-color: #f4f5f8;
    border: 1px solid var(--thm-border);
    border-radius: 4px;
    transition: all 300ms ease;
    font-family: var(--thm-b-font);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1em;
}
.contsubmitbut{
    border:0px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    color: white;
    padding: 1em;
    padding-left: 4.0em;
    padding-right: 4em;
    background-color: #00BDE0;
    cursor: pointer;
    
}
.set1form{
    display: flex;
    gap: 1em;
}
@media screen and (max-width: 1024px){
    .contcardgrp{
        flex-direction: column-reverse;
        gap: 2em;
        padding-bottom: 6em;
    }
    .subheadWritten{
        font-size: 18px;
        width: 100%;
        margin-bottom: 1.5em;
    }
    .headWritten{
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    
    .contcardgrp{
        flex-direction: column-reverse;
        gap: 2em;
        padding-bottom: 6em;
        
    }
    .set1form{
        display: flex;
        gap: 0em;
    }
    .contadressset{
        margin-left: -15px;
    }
    .contactParent{
        margin: 0px;
        width: 95%;
        justify-content: end;
        align-items: left;

    }
    .ContactSubHead{
        width: 90%;
        
    }
    .headWritten{
        width: 100%;
        font-size: 2.853em;
        
    }
    .leftsidewritten{
        width: 80%;
    }
    .set1form{
        display: flex;
        flex-direction: column;
    }
    .contform input{
        width: 80%;
    }
    .contform textarea{
        width: 80%;
    }
    .rightcontactform{
        border: 1px solid #D3D3D3;
        padding: 1em;
        border-radius: 10px ;
        width: 75%;
        align-items: center;
        padding-right: 1.3em;
        
    }
    .conaddset1{
        width: 50%;
    }
    .conaddset2{
        width: 50%;
    }
    .subheadWritten{
        font-size: 18px;
        width: 100%;
        margin-bottom: 1.5em;
    }
    
}