.headandcardcollection{
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    background-image: url("https://smilepure.thememove.com/wp-content/uploads/2019/11/appontment-form-bg-new2.png");
    padding-bottom: 5em;
}
.appformhead{
    margin:2em 2em 1.5em 0em;
    font-size: 32px;
    font-weight: 600;
}
.appgroupoftwo{
    display: flex;
    gap: 5em;
    
}
.appcard{
    height: 530px;
    display: flex;
   width: 71%;
   gap: 3em;
   background-color: white;
   border-radius: 10px;
}
.apphead{
    color: white;
    padding-bottom: 0.5em;
    font-size: 1.553em;
}
.appsubhead{
    color: white;
    font-size: 16px;
    width: 40%;
    text-align: center;
    padding-bottom: 4em;
}
.appform input{

    width: 105%;
    outline: none;
    border: 1px solid #eee;
    background-color: #eee;
    color: #486683;
    font-weight: 500;
    padding: 3px 20px;
    height: 40px;

}
.appgroupoftwo{
    margin-bottom: 2em;
}

.accform form label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
}
.appbut{
    border:0px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    color: white;
    padding: 1.5em;
    padding-left: 2.0em;
    padding-right: 2em;
    background-color: black;
    cursor: pointer;
}
.appbut2{
    border:0px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    color: white;
    padding: 1.5em;
    padding-left: 2.0em;
    padding-right: 2em;
    background-color: #98D8AA;
    cursor: pointer;
}
.appbut:hover{
    opacity: 0.8;
}
.appsmalltext{
    width: 100%;
    color: gray;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-size: 12px;
}
.appsubhead2{
    color: white;
    font-size: 20px;
    width: 40%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.appsubhead3{
    color: white;
    font-size: 15px;
    width: 40%;
    text-align: center;
    padding-top: 0em;
    padding-bottom: 1em;
}
@media screen and (max-width: 767px){
    .appgroupoftwo{
        flex-direction: column;
        
    }  
    .appsubhead{
        text-align: left;
        width: 90%;
        
    }
    .apphead{
        
        width: 90%;
    }
    .appcard{
        width: 90%;
        height: 105%;
        padding-bottom: 1em;
        flex-direction: column;
       
       gap: 0em;
       background-color: white;
       border-radius: 10px;
    }
    .cphoto{
        display: none;
    }
    .appform{
        margin: 0 auto;
        width: 80%;
        align-items: center;
        
    }
    .appform input{
        display: flex;
        justify-content: centers;
        margin: 0 auto;
        align-items: center;
        width: 88%;
        outline: none;
        border: 1px solid #eee;
        background-color: #eee;
        color: #486683;
        font-weight: 500;
        padding: 3px 20px;
        height: 40px;
        
    }
    .appgroupoftwo{
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
    }
    .appformhead{
        margin:0.5em 1em 0.5em 1em;
        font-size: 32px;
        font-weight: 600;
    }
    .appbut{
        border:0px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 21px;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0;
        color: white;
        padding: 1.5em;
        padding-left: 4.0em;
        padding-right: 4em;
        background-color: black;
        cursor: pointer;
    }
    .contbutgrp{
        display: flex;
        flex-direction: column;
    }
}
