@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
.main_s{
    background-color: #F7F9FB;
    overflow: hidden;
}
.k_head{
    margin-bottom: 1.5em;
}
.k_head h1{
    font-size: 3.353em;
    font-weight: 800;
    font-style: normal;
    line-height: 1.053em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1.8px;
    padding-top: 3em;
    text-align: center;   
}

.arrow_b{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 2.5em;
}
.s_ourwork{
    background-color: #F7F9FB;
    padding: 0 7% 2em;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.sub_work{
    background-color: #F7F9FB;
    padding: 0 7% 5%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.s_sub_head{
    color: #404040; 
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    opacity: .9;
    padding :0 0 1.5em;
}
.s_main_desc{
    width:50%;
}
.s_ourwork .s_main_desc .s_main_head{
    padding-bottom: 1.7em;
    
}
.s_ourwork .s_main_desc .s_main_head h1{
    font-size: 3.353em;
    font-weight: 600;
    width:90%;
    line-height: 1.1em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px; 
}
.s_ourwork .s_main_desc .s_para_head {
    margin-bottom: 2em;
    font-size: 0.95em;
    letter-spacing: 0.02rem;
    color: #85898D;
    line-height: 1.7;
    width:85%;
    padding-bottom: 1.7em;
}

.product1{
width: 25%;
padding-top: 5.2em;

}
.product2{
    width:25%;
    padding-top: 5.2em;
}
.product1 .desc {

    font-size: 1.415em;
    line-height: 1.2em;
    color:#2b2b2d;

}
.product2 .desc {
    font-size: 1.415em;
    line-height: 1.2em;
    color:#2b2b2d;
}
.product3 .desc {
    font-size: 1.415em;
    line-height: 1.2em;
    color:#2b2b2d;
}
.product3{
    width:25%;
    
}
.imag{
    padding-bottom: 2em;
}

.imag img{
    height:60px;
     width:60px;
}




.s_ourwork1{
    background-color: #F7F9FB;
    padding: 0 7% 0em;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.sub_work1{
    background-color: #F7F9FB;
    padding: 0 7% 5%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.s_sub_head1{
    color: #404040; 
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    opacity: .9;
    padding :0 0 0.8em;
}
.s_main_desc1{
    width:100%;
    padding-left: 7%;
    padding-right: 7%;
}
 .s_main_head1{
    padding-bottom: 0.8em;
    
}
 .s_main_head1 h1{
    font-size: 26px;
    line-height: 30px;
width:90%;
    letter-spacing: 0.03em;
}
 .s_para_head1 {
    margin-bottom: 2em;
    font-size: 0.95em;
    letter-spacing: 0.02rem;
    color: #85898D;
    line-height: 1.7;
    width:85%;
    
}


.product1a .desc1 {

    font-size: 1.1em;
    line-height: 1.2em;
    color:#2b2b2d;

}
.product2a .desc1 {
    font-size: 1.1em;
    line-height: 1.2em;
    color:#2b2b2d;
}
.product3a .desc1 {
    font-size: 1.1em;
    line-height: 1.2em;
    color:#2b2b2d;
}
.product1a{
   
    padding-bottom: 1em;
}
.product2a{
   
    padding-bottom: 1em;
}
.product3a{
   
    padding-bottom: 1em;
}
.imag1{
    padding-bottom: 0.4em;
}

.imag1 img{
    height:60px;
     width:60px;
}


.product_all_one{
    display: flex;
    flex-direction: column;
    width:50%;
 
    
}

.product_all_two{
    display: flex;
    flex-direction: column;
    width:50%;
}









@media screen and (max-width: 767px){
    .arrow_b{
   
        margin-bottom: 1.5em;
    }
    .k_head{
        margin-bottom: 0.4em;
    }
    .k_head h1{
        font-size: 26px;
        line-height: 31px;

        letter-spacing: 0;
        padding-top: 4em;
      
        text-align: center; 
    }
    .s_ourwork{
        display: flex;
        flex-direction: column-reverse;
    }
    .s_main_image{
        width:80%;
    }
    .s_facilities{
        display: flex;
        flex-direction: column;
    }
    .s_main_desc{
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 2em;
    }
    .s_ourwork .s_main_desc .s_sub_head{
        padding-top: 0;
    }
    .s_ourwork .s_main_desc .s_para_head{
        margin-bottom: 1.5em;
    }
    .s_ourwork .s_main_desc .s_main_head {
        font-size: 1em;
        
        letter-spacing: 0px;
        font-weight: 400;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        line-height: 2.3em;
    }
    .s_sub_para p{
        font-size: 0.85rem;
    }
    .s_ourwork .s_main_image {
       
        width:100%;
    }
    .s_ourwork{
        padding-left: 0;
        padding-right: 0;
    }
    .s_services .s_section{
        display:flex;
        flex-direction: column;
        gap:0em;
        padding-bottom: 0em;
    }
    .service1{
        width:100%;
        padding-bottom: 3em;
    }
    .s_services{
        padding-top: 10%;
    }
}

