@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

.mainWrapper {
    padding: 5% 7%;
    font-family: 'Poppins', sans-serif;
  }
  .t_head{
    align-items: center;
    text-align: center;
    padding: 4em 0;
    
  }
  .mainWrapper .t_head h6{
   font-size: 25px;
   line-height: 40px;
   letter-spacing: 3px;
   font-weight: 600;
   color: #00bde0;
  }
  .mainWrapper .t_head h4{
    font-size: 28px;
    line-height: 40px;

   }
  
  .contentWrapper {
    display:flex;
    justify-content: space-between;
gap:4em;
padding-bottom: 4em;
  }
  .imgc1{
    width:70%;
  }
  .imgc2{
    width:70%;
  }
  @media screen and (max-width: 1024px){
    .contentWrapper {
        display:flex;
        justify-content: none;
    gap:1em;
    padding-bottom: 4em;
      }
      .imgc1{
        width:100%;
      }
      .imgc2{
        width:100%;
      }
  } 

  @media screen and (max-width: 767px){
    .t_head{
        padding:3em 0;
    }
    .mainWrapper .t_head h4{
        font-size: 32px;
        line-height: 40px;
    
       }
       .contentWrapper {
        display:flex;
        flex-direction: column;
        justify-content: none;
    gap:2em;
    padding-bottom: 2em;
      }
      .imgc1{
        width:100%;
      }
      .imgc2{
        width:100%;
      }
  }

