.procedureparent{
   max-width: 1296px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}
.parentprocedure{
    display: flex;
    
}
.approachmr{
    color: #85898D;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    opacity: .9;
}
.procedureheadmr{
    margin-top: 0.2em;
    width: 60%;
    margin-bottom: 1em;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0em;
    line-height: 1.44;
}
.numberlinegrp{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.numbersdivmr{
    padding: 0.5em;
    width: 4.5%;
    height: 14%;
    border-radius: 100%;
    border: 2px solid #abb8c3;
}
.definations{
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 78%;
   
    padding: 1em;
    
}
.defhead{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1.44;
  
}
.defabout{
   
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.8;
    color: #486683;
    opacity: 0.7;
    font-size: 15px;
}
@media screen and (max-width: 767px){
    .procedureparent{
        
         margin-top: 50px;
     }
    .parentprocedure{
        flex-direction: column;
       
    }
    .definations{
        margin-bottom:50px;
        width: 90%;
    }
    .procedureheadmr{
        margin-top: 0.2em;
        width: 100%;
        margin-bottom: 1em;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 0em;
        line-height: 1.44;
    }
    .numbersdivmr{
        padding: 0.5em;
        width: 6.5%;
        height: 14%;
        border-radius: 100%;
        border: 2px solid #abb8c3;
    }
}